.header{
    padding: 30px;
    text-align: center;
    background-image: url("gradient.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
}

body{
    font-family: sans-serif;    
    color: #FFFFFF;    
    background-color: #151515dc;
}

.body-content{
    padding-left: 12%;
    padding-right: 12%;
}

h2{
    font-size: 28px;
}

h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
}

hr{
    height: 2px;
    color: gray;
    background-color: gray;
}

.text-hover:hover {
    text-decoration: underline;
}
.text-red{
    font-weight:bold;
    color:#ee5253;
}
.text-yellow{
    font-weight: bold;    
    color:#ff9f43;
}
.text-blue{
    font-weight: bold;    
    color:#54a0ff;
}
.text-purple{
    font-weight: bold;
    color: #9065b0;
}

p{
    font-size: 16px;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}

.code-red{
	background: #87837826;
    color:#ee5253;
	border-radius: 3px;
	padding: 0.2em 0.2em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
}

table,
th,
td{
	border: 1px solid #878378;
	border-collapse: collapse;
}
table{
	border-left: none;
	border-right: none;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}
th,
td{
	font-weight: normal;
	padding: 0.25em 0.5em;
	line-height: 1.5;
	min-height: 1.5em;
	text-align:left;
}
th{
	color: #FFFFFF;
    background-color:#222f3e;
}

button{
    padding: 8px 24px;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
}

img{
    max-width: 80%;
    height: auto;
}